@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

* {
  margin: 0in;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  color: rgba(255, 255, 255, 0.822);
  text-align: left;
  background-color: black;
}

.row {
  margin: 1rem;
}

.row_title {
  margin: 0.5rem 1rem;
  font-size: 1.5rem;
  letter-spacing: 0.09rem;
}

.row_posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 2rem;
  margin-right: 0.5rem;
  scrollbar-width: none;
}

.row_posters::-webkit-scrollbar {
  display: none;
}
.row_posterLarge {
  height: 40%;
  margin-right: 0.6rem;
}

.row_poster {
  height: 35%;
  max-width: 200px;
  margin-right: 0.6rem;
  transition: transform 500ms;
}

.row_poster:hover {
  transform: scaleY(1.1);
  opacity: 1;
  cursor: pointer;
}

.row_posterLarge:hover {
  transform: scaleY(1.11);
  opacity: 1;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 60%;
  }
}
